# Assignment 3, Alexander Kyrkjeeide, Version 1, Spring 2023

## A)

## The append() places new items in the available space. A created list are sequences that can hold various data types and objects, so you can utilize append() to add any new object to your given list. Example:

In [1]:
numbers = [5,6,7,8,9,10]
print(numbers)

[5, 6, 7, 8, 9, 10]

In [2]:
numbers.append(11)
numbers

[5, 6, 7, 8, 9, 10, 11]

## The extend() adds all elements of an of an iterable (list, string, tuple etc.) to the end of the list. Example:

In [3]:
# Create a list 
number_1=[1,3,5]

In [4]:
# Create another list
number_2=[2,6]

In [5]:
# Add all the elements of number_1 to number_2
number_2.extend(number_1)

In [6]:
print('List after extend():', number_2)

List after extend(): [2, 6, 1, 3, 5]

## The insert() adds an element to a specific position in a list. Example:

In [7]:
number_2

[2, 6, 1, 3, 5]

In [8]:
number_2.insert(-1, 7)
number_2

[2, 6, 1, 3, 7, 5]

## The remove() removes an element from the list. Example:

In [9]:
number_2.remove(3)
number_2

[2, 6, 1, 7, 5]

## The count() returns the number of times a specified value appears in a list. Example:

In [10]:
Letters=["b", "c", "c", "d", "a", "c", "a"]

In [11]:
print(Letters.count("c"))

3

## The index() selects the sequential element in a string of characters or a list of items. Example:

In [12]:
number_2

[2, 6, 1, 7, 5]

In [13]:
number_2[1:3]

[6, 1]

## The pop() removes an element at the specified index from a list. Example:

In [14]:
Removed_element=number_2.pop(3)
print("By using pop() I removed number", Removed_element)

By using pop() I removed number 7

## The sorted () takes a list and returns a new list with those elements in sorted order. Example:

In [17]:
number_2
number_2.append(3)
number_2.append(4)
number_2.append(7)
number_2

[2, 6, 1, 5, 3, 4, 7]

In [18]:
sorted(number_2)

[1, 2, 3, 4, 5, 6, 7]

## The copy() is used on objects to create copies of them and can be helpful if you want to duplicate a list and change it without changing the original list. Example:

In [19]:
My_favorite_foods=["Taco", "Chicken", "Pasta"]
Freinds_favorite_foods=["Pizza", "Burger", "Salad"]
# Copying the list:
Freinds_favorite_foods = My_favorite_foods.copy()
print('Copied List:', Freinds_favorite_foods)

Copied List: ['Taco', 'Chicken', 'Pasta']

## The clear() deletes all elements of from a list. Example:

In [20]:
number_2

[2, 6, 1, 5, 3, 4, 7]

In [21]:
number_2.clear()
print(number_2)

[]

## The list() creates a list object which is a collection ordered and changeable. Example:

In [22]:
Famous_soccer_players=list()
type(Famous_soccer_players)

list

In [23]:
Famous_soccer_players.append("Lionel Messi")
Famous_soccer_players.append("Cristiano Ronaldo")
Famous_soccer_players.append("Erling Haaland")
Famous_soccer_players.append("Kylian Mbappe")

In [24]:
Famous_soccer_players

['Lionel Messi', 'Cristiano Ronaldo', 'Erling Haaland', 'Kylian Mbappe']

## B)

## The len() shows how many total elements are in the list where element count starts from 1. Example:

In [26]:
number_1

[1, 3, 5]

In [27]:
len(number_1)

3

## The min() finds the lowest number and max() the highest number from the list. Example:

In [28]:
min(number_1)

1

In [29]:
max(number_1)

5